body {
    font-family: Arial, sans-serif;
}

h1 {
    font-family:'Franklin Gothic Medium', sans-serif;
    color: #fff;
    background-image: linear-gradient(180deg, #0058b5, #00BFFF, #0058b5);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    border: 1px solid #ccc;
    padding: 8px;
    text-align: center;
}

th {
    background-image: linear-gradient(180deg, #0058b5, #00BFFF, #0058b5);
    color: #fff;
    background-clip: padding-box;
}


tr:nth-child(even) {
    background-color: #f2f2f2;
}

input[type="checkbox"] {
    transform: scale(1.5);
}

button {
    background-image: linear-gradient(180deg, #0058b5, #00BFFF, #0058b5);
    color: #fff;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    margin: 10px;
    background-clip: padding-box;
}
